<div id="consuma-selector">
    <div class="row">
        <div class="col-md-4">
            <div id="selector-conocer-entidad" class="selector-block">
                <div class="selector-intro">
                    <h3>{{ "Conocer entidades"|t }}</h3>
                </div>
                <div class="selector-wrapper">
                    <label for="selector-entidad">{{ "Entidad:"|t }}</label>
                    <select id="selector-entidad" class="selector-unico">
                        <option class="item" value="">{{ "-Selecciona una entidad-"|t }}</option>
                        {% for entity in entities %}
                            <option class="item" value="{{ entity.id }}">
                                {{ entity.title.value }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <a href="" class="action-button btn-consuma"  title="Accede a conocer la entidad" />{{ "Ver"|t }}</a>
            </div>
        </div>
        <div class="col-md-4">
            <div id="selector-comparar-entidades" class="selector-block">
                <div class="selector-intro">
                    <h3>{{ "Comparar entidades"|t }}</h3>
                </div>
                <div class="selector-wrapper">
                    <label for="selector-entidad-uno">{{ "Entidad 1:"|t }}</label>
                    <select id="selector-entidad-uno" class="selector-doble uno">
                        <option class="item" value="">{{ "-Selecciona una entidad-"|t }}</option>
                        {% for entity in entities %}
                            <option class="item" value="{{ entity.id }}">
                                {{ entity.title.value }}
                            </option>
                        {% endfor %}
                    </select>
                    <label for="selector-entidad-uno">{{ "Entidad 2:"|t }}</label>
                    <select id="selector-entidad-dos" class="selector-doble dos">
                        <option class="item" value="">{{ "-Selecciona una entidad-"|t }}</option>
                        {% for entity in entities %}
                            <option class="item" value="{{ entity.id }}">
                                {{ entity.title.value }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <a href="" class="action-button btn-consuma"  title="Accede a comparar las entidades" />{{ "Ver"|t }}</a>
            </div>
        </div>
        <div class="col-md-4">
            <div id="selector-comparar-detalles" class="selector-block">
                <div class="selector-intro">
                    <h3>{{ "Comparar detalles"|t }}</h3>
                </div>
                <div class="selector-wrapper">
                    <label for="selector-indicador">{{ "Grupo:"|t }}</label>
                    <select id="selector-indicador" class="">
                        <option class="item" value="">{{ "-Selecciona un grupo-"|t }}</option>
                        <option class="item" value="generales">{{ "Generales"|t }}</option>
                        <option class="item" value="producto-servicio">{{ "Producto o servicio"|t }}</option>
                        <option class="item" value="volumen">{{ "Volumen"|t }}</option>
                        <option class="item" value="produccion-energia">{{ "Producción energía"|t }}</option>
                        <!--<option class="item" value="gobernanza-interna">{{ "Gobernanza interna"|t }}</option>-->
                        <!--<option class="item" value="gestion-economica">{{ "Gestión económica"|t }}</option>-->
                        <option class="item" value="comportamiento-etico-y-transparencia">{{ "Comportamiento ético y transparencia"|t }}</option>
                        <option class="item" value="personas-(trato-al-empleado)">{{ "Personas (trato al empleado)"|t }}</option>
                        <option class="item" value="responsabilidad-social-y-gestion-economica">{{ "Responsabilidad social y gestión económica
"|t }}</option>
                        <!--<option class="item" value="comunidad">{{ "Comunidad"|t }}</option>-->
                        <!--<option class="item" value="medio-ambiente">{{ "Medio Ambiente"|t }}</option>-->
                    </select>
                </div>
                <a href="" class="action-button btn-consuma"  title="Accede a comparar por indicadores" />{{ "Ver"|t }}</a>
            </div>
        </div>
    </div>
</div>