
/* Entity node view */
.node--type-entity.node--view-mode-full .print__wrapper--pdf {
    text-align: center;
    border-radius: 10px;
    border: 2px solid #FFF;
    padding: 0.3em;
    font-size: 1.1em;
    color: #FFF;
    background: #91b521;
    width: 150px;
    float: right; }
.node--type-entity.node--view-mode-full .print__wrapper--pdf:hover {
    color: #FFF;
    background: #225c25; }
.node--type-entity.node--view-mode-full .print__wrapper--pdf:hover a {
    color: #fff; }
.node--type-entity.node--view-mode-full .print__wrapper--pdf a {
    color: #fff; }
.node--type-entity.node--view-mode-full .entity-header-wrapper {
    border: 1px solid #225c25;
    padding: 20px;
    margin-bottom: 60px; }
.node--type-entity.node--view-mode-full .panel {
    margin-top: 20px;
    border: none; }
.node--type-entity.node--view-mode-full .panel .panel-heading {
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 20px;
    color: #fff;
    background: #91b521;
    border: none;
    margin: 0; }
.node--type-entity.node--view-mode-full .panel .panel-body .field--label {
    font-weight: bold;
    /* width: 30%; */
    /* display: inline-table; */
    border-bottom: 1px dotted #666;
    font-size: 21px;
    margin-top: 30px;
    margin-bottom: 15px;
    }
.node--type-entity.node--view-mode-full .panel .panel-body .field--label .label-description {
    /* display: block; */
    background: #fff;
    font-weight: normal;
    font-size: 0.8em;
    width: 93%;
    padding-left: 10px;
    /* border: 1px dotted #ccc; */
    margin-top: 5px;
    color: #888;
}
.node--type-entity.node--view-mode-full .panel .panel-body .field--items {
    display: block;
    /* margin-left: 30%; */
    }
.node--type-entity.node--view-mode-full .panel .panel-body .field--item {
    /* width: 70%; */
    /* display: inline-table; */
    /* margin-left: 30%; */
    margin-left: 15px;
    }
.node--type-entity.node--view-mode-full .panel .panel-body .field--item .field {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0; }
.node--type-entity.node--view-mode-full .panel .panel-body .field--item .field--item {
    width: 90%;
    display: block;
    margin-left: 0 !important; }
.node--type-entity.node--view-mode-full .panel .panel-body .field {
    margin-bottom: 5px;
    /* border-bottom: 1px dotted #ccc; */
    padding-bottom: 5px;
    width: 90%;
    margin-left: 15px;
    }
.node--type-entity.node--view-mode-full .panel .panel-body .field .node--type-info-indicador {
    width: 100%;
    font-size: 0.8em;
    color: #888;
    background: #fff;
    border: 1px solid #ccc;
    width: 100%;
    z-index: 1000;
    padding: 5px; }
.node--type-entity.node--view-mode-full .panel .panel-body .field .node--type-info-indicador .field--label {
    width: 100%;
    margin-top: 0;
    border-bottom: none;
    font-size: 17px;
    }
.node--type-entity.node--view-mode-full .panel .panel-body .field .node--type-info-indicador .field--item {
    width: 100%;
    margin-left: 10%; }
.node--type-entity.node--view-mode-full .panel .panel-body .field.field--type-entity-reference.field--label-hidden {
    border-bottom: none;
    margin-left: 26px;
    width: 85%;
    }

.node--type-entity.node--view-mode-full .print__wrapper.print__wrapper--pdf {
    display: none;
}
