// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

body {
  font-size: 18px;
}

h2 {
  font-size: 28px;
}


ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

ul {
  li {
    font-family: Roboto, Raleway, sans-serif;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 15px;
    color: #777;
    line-height: 28px;
  }
}

a {
  color: #225c25;
  text-decoration: none;
  &:hover {
    background: none;
    color: #225c25;
    text-decoration: none;
  }
}

p {
  font-family: Roboto, Raleway, sans-serif;
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 15px;
  color: #777;
  line-height: 28px;
}

.node h2 {
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 20px;
  color: #008000;
}

// Page header.
.page-header {
  margin-top: 0;
  margin-bottom: 70px;
  h1 {
      margin-top: 33px;
    margin-bottom: 55px;
  }
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 8px;
  border-top: 1px solid #E5E5E5;
  ul.menu {
      text-align: center;
    margin: 0 auto;
  }
  .nav > li {
    display: inline;
  }
  ul.social-media-links--platforms {
    text-align: center;
    padding: 40px;
    padding-bottom: 20px;
  }
  #block-socialmedialinks h2.block-title {
    display: none;
  }
  .block-simplenews {
    color: #848484;
    /* border: 1px solid #696969; */
    padding: 20px;
    margin: 0 auto;
  }
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

.view .item-list {
  ul > li {
      list-style: none;
      margin-bottom: 20px;
    }
  }


.help-block, .control-group .help-inline {
    color: $gray-light;
    font-size: 12px;
    margin: 5px 0 10px;
    padding: 0;
    &:first-child {
      margin-top: 0;
    }
  }

  footer {
    background: #313233;
    padding-top: 30px;
  a {
    color: #fff;
  }
    li {
      a {
        color: #fff;
        float: left;
        font-size: 14px;
        margin-bottom: 12px;
        margin-right: 16px;
            font-size: 1.3em;
        &:hover {
          background: none !important;
          color: #fff;
        }
      }
    }
  }

 
  #footer-bottom {
    background-color: #1f1f1f;
    border-top: 1px solid #2f2f2f;
    margin-top: 0;
    padding: 20px 0;
    a {
      color: rgba(255,255,255,.75);
    }
    .navbar-brand {
      float: none;
      padding: 15px 15px;
      font-size: 18px;
      line-height: 20px;
      height: 50px;
      text-align: center;
      margin: 0 auto;
      display: block;
    }
  }

  .navbar-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-nav {
    li {
      a {
        color: #777 !important;
        font-family: Roboto,sans-serif;
        opacity: .75;
        font-weight: 600;
        text-transform: uppercase;
      }
      a.is-active {
       color: #000 !important;
      }
    }

  }

  body.navbar-is-fixed-top {
    margin-top: 130px;
  }

  h1 {
    color: #225c25;
    font-family: Futura, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 10px;
    font-size: 29px;
    text-align: center;
    border: none !important;
    &:after {
      background-color: #91b521;
      content: "";
      position: absolute;
      /* bottom: 0; */
      width: 66px;
      height: 3px;
      left: 50%;
      margin-left: -33px;
      margin-top: 50px;
    }
  }

  @media (min-width: 1000px) {
    .navbar-nav {
      float: left;
      margin: 0;
      margin-top: 20px;
      margin-left: 40px;
    }
  }



  .view-entidades {
    ul {
      li {
        list-style: none;
      }
    }
  }

  .views_slideshow_cycle_main {
    width: 100%;
    float: left;
  }
  .views_slideshow_cycle_main .views-slideshow-cycle-main-frame {
    width: 100% !important;
    height: auto;
  }
  .views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {
    width: 100% !important;
    height: auto;
  }
  .views_slideshow_cycle_main .field-content {
    max-width: 100%;
    width: 100%;
  }
  .views_slideshow_cycle_main .field-content img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

#views_slideshow_controls_text_pause_slider-block_1 {
  display: none;
}
#views_slideshow_controls_text_previous_slider-block_1 {
  cursor: pointer;
  position: absolute;
  display: block;
  z-index: 1000000;
  width: 50px;
  height: 50px;
  background: transparent;
  top: 50%;
  transform: matrix(1, 0, 0, 1, 30, -25);
  left: 0px;
  color: transparent;
  a {
    color: transparent;
    &:hover {
      color: transparent;
    }
  }
  &:before {
    font-family: FontAwesome;
    content: '\f053';
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    color: #fff;
  }
}
#views_slideshow_controls_text_next_slider-block_1 {
  cursor: pointer;
  background: #000;
  background: rgba(0,0,0,0.5);
  width: 40px;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000000;
  width: 50px;
  height: 50px;
  background: transparent;
  top: 50%;
  transform: matrix(1, 0, 0, 1, -80, -25);
  left: 100%;
  color: transparent;
  a {
    color: transparent;
    &:hover {
      color: transparent;
    }
  }
  &:before {
    font-family: FontAwesome;
    content: '\f054';
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    color: #fff;
  }
}
#widget_pager_bottom_slider-block_1 {
  position: absolute;
  display: block;
  z-index: 10000;
  width: 173px;
  height: 18px;
  top: 100%;
  transform: matrix(1, 0, 0, 1, -66, -48);
  left: 50%;
  .views_slideshow_pager_field_item {
    width: 12px;
    height: 12px;
    background: #999;
    border: 3px solid #f5f5f5;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: content-box;
    box-shadow: 0px 0px 2px 1px rgba(130,130,130, 0.3);
    float: left;
    margin: 3px;
    color: transparent;
  }
}

  .views_slideshow_cycle_main {
    width: 100%;
    float: left;
    .views_slideshow_cycle_teaser_section {
      width: 100% !important;
      height: auto;
    }
    .views_slideshow_cycle_slide {
      width: 100% !important;
      height: auto;
    }
    .field-content {
      max-width: 100%;
      width: 100%;
      height: 450px;
      overflow: hidden;
      img {
        display:block;
        margin:auto;   /*Center the image*/
        max-width: 100%;
        width: 100%;
        border: 1px double #605D5A;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        /* height: 400px; */
        vertical-align: middle;
        /* height: 100%; */
        /* position: absolute; */
        transform: translate(0, -50%);
      }
    }
    .views-slideshow-controls-bottom {
      text-align: center;
      width: 90%;
      margin: auto; /*Center the control bottom*/
      .views-slideshow-pager-field-item {
        display: inline-block;
        margin: 0 10px;
        padding: 3px;
        background: #0B9727;
        width: 30px; /* The width of container block must 30px */
        img {
          width: 30px; /* The width of container block must 30px */
          height:20px;
        }
      }
    }
    .views-field-body {
      .field-content {
        font-family: Raleway, sans-serif;
        font-size: 1.3em;
        margin-top: 160px;
        position: absolute;
        z-index: 1000;
        p {
          line-height: 60px;
          color: #fff !important;
          z-index: 5;
          min-width: 975px;
          max-width: 975px;
          white-space: normal;
          font-size: 30px;
          line-height: 40px;
          font-weight: 600;
          color: rgb(255, 255, 255);
          font-family: Raleway;
          text-align: center;
          padding: 10px;
          visibility: inherit;
          transition: none;
          border-width: 0px;
          margin: 0px;
          letter-spacing: 0px;
          min-height: 0px;
          max-height: none;
          opacity: 1;
          transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform-origin: 50% 50% 0px;
          text-align: center;
          margin: 0 auto;
        }
      }
    }
    .views-field-title {
      margin-top:30px;
      z-index: 100;
      position: absolute;
      width: 100%;
      .field-content {
        font-family: Raleway, sans-serif;
        font-size: 1.5em;
          line-height: 60px;
          color: #fff !important;
          z-index: 5;
          min-width: 975px;
          max-width: 975px;
          white-space: normal;
          font-size: 40px;
          line-height: 40px;
          font-weight: 600;
          color: rgb(255, 255, 255);
          font-family: Raleway;
          text-align: center;
          padding: 10px;
          visibility: inherit;
          transition: none;
          border-width: 0px;
          margin: 0px;
          letter-spacing: 0px;
          min-height: 0px;
          max-height: none;
          opacity: 1;
          transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform-origin: 50% 50% 0px;
          text-align: center;
          margin: 0 auto;
        margin-top:25px;

        display: block;
      }
    }

  }

  #consuma-selector {
    .selector-block {
      display: block;
      padding: 10px;
      border: 2px solid #91b521;
      border-radius: 10px;
      margin: 20px;
      min-height: 308px;
      h3 {
        text-align: center;
        height: 270px;
        width: 100%;
        color: transparent;
        padding-top: 0;
        margin-top: 0;
      }
      .selector-wrapper {
        min-height: 70px;
      }
      select {
          padding: 10px;
          padding-top: 5px;
          padding-bottom: 5px;
          width: 200px;
          font-size: 0.75em;
      }
      a {
        display: block;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 100px;
        margin: 0 auto;
        text-align: center;
      }
    }
    #selector-conocer-entidad {
      h3 {
        background: url(../images/conocer-entidades.png) no-repeat 50% 50%;
      }
    }
    #selector-comparar-entidades {
      h3 {
        background: url(../images/comparar-entidades.png) no-repeat 50% 50%;
      }
    }
    #selector-comparar-detalles {
      h3 {
        background: url(../images/conocer-detalles.png) no-repeat 50% 50%;
      }
    }
  }

  .btn-consuma {
    text-align: center;
    kit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #FFF;
    padding: 0.3em;
    font-size: 1.1em;
    color: #FFF;
    background: #91b521;
    &:hover {
      color: #FFF;
      background: #225c25;
    }
  }

  /* Entity node view */
  .node--type-entity.node--view-mode-full {
    .field--name-node-title {
      
      padding: 20px;
      h2 {
          font-size: 36px;
          line-height: 40px;
          margin: 0;
          color: #91b521;
          font-weight: 900;
      }
    }
    .print__wrapper--pdf {
      text-align: center;
      kit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      border: 2px solid #FFF;
      padding: 0.3em;
      font-size: 1.1em;
      color: #FFF;
      background: #91b521;
      width: 150px;
      float: right;
      &:hover {
        color: #FFF;
        background: #225c25;
        a {
          color: #fff;
        }
      }
      a{
        color: #fff;
      }
    }
    .entity-header-wrapper {
      border: 1px solid #225c25;
      padding: 20px;
      margin-bottom: 60px;
    }

    .panel {
      margin-top: 20px;
      border: none;
      box-sizing: unset;
      box-shadow: none;
      .panel-heading {
        font-size: 24px;
        line-height: 32px;
        margin: 0 0 20px;
        color: #fff;
        background: #91b521;
        border: none;
        margin: 0;
      }
      .panel-body {
        min-width: 800px; 
        .field--label {
          font-weight: bold;
          width: 30%;
          display: block;
          .label-description {
            display: block;
            background: #fff;
            font-weight: normal;
            font-size: 0.8em;
            position: absolute;
            width: 25%;
            padding: 10px;
            border: 1px dotted #ccc;
            margin-top: 5px;
            display: none;
            z-index: 100;
          }
          &:hover {
            cursor: pointer;
          }
          &:after {
            font-family: FontAwesome;
            content: "\f059";
            position: absolute;
            margin-left: 5px;
          }
        }
        .field--item {
          width: 70%;
          display: block;
          margin-left: 30%;

          min-height: 50px;
          .node h2 {
            font-size: 16px;
            line-height: 16px;
            margin: 0 0 20px;
            color: #000000;
          }
          p {
            margin: 0;
          }
          &:after {
              font-family: FontAwesome;
              content: "\f05a";
              margin-left: 99%;
                  display: block;
          }
          &:hover {
            cursor: pointer;
          }
          .field {
            margin-bottom: 0;
            border-bottom: none;
            padding-bottom: 0;
          }
          .field--item {
            width: 90%;
            display: block;
            margin-left: 0 !important;
            min-height: auto;
          }
        }
        .field-item.field--type-entity-reference {
          min-height: auto;
        }
        .field__items {
          display: block;
          margin-left: 30%;
          .node--type-entity.node--view-mode-full  {
            .field--name-node-title {
              border: none;
              padding: 0;
              }
          }
          
          //&:after {
          //  font-family: FontAwesome;
          //  content: "\f05a";
          //  /* position: absolute; */
          //  /* right: 36px; */
          //  margin-top: -15px;
          //  float: right;
          //}
          
          .field--item {
            width: 100%;
            margin-left: 0%;
            min-height: auto;
            border: none;
            padding: 0;
            .node h2 {
              font-size: 16px;
              line-height: 16px;
              margin: 0 0 20px;
              color: #000000;
            }
            &:after {
              content: "";
            }
          }
        }
        .field--item.field--label-hidden {
          &:after {
            content: "";
          }
        }
        .field {
          margin-bottom: 5px;
          border-bottom: 1px dotted #ccc;
          padding-bottom: 5px;
          min-height: 50px;
          .node--type-info-indicador {
            width: 100%;
            font-size: 0.8em;
            color: #888;
            display: none;
            position: absolute;
            background: #fff;
            border: 1px solid #868686;
            width: 80%;
            z-index: 1000;
            box-shadow: gray;
            padding: 5px;
            -webkit-box-shadow: 0px 11px 20px 3px rgba(99, 99, 99, 0.73);
            -moz-box-shadow: 0px 11px 20px 3px rgba(99, 99, 99, 0.73);
            box-shadow: 0px 11px 20px 3px rgba(99, 99, 99, 0.73);
            &:after {
              font-family: FontAwesome;
              content: "\f00d";
              position: absolute;
              right: 10px;
            }
            .field--label {
              width:100%;
              &:hover {
                cursor: default;
              }
              &:after {
                content: '';
              }
            }
            .field--item {
              width: 100%;
              margin-left: 0%;
              overflow-wrap: break-word;
              min-height: auto;
              &:after {
                content: '';
              }
            }
            .field__items {
              display: block;
              margin-left: 0%;
              overflow-wrap: break-word;
              &:after {
                content: '';
              }
            }
          }
        }
        .field.field--type-entity-reference.field--label-hidden {
          border-bottom:none;
              min-height: auto;
        }
      }
    }
  }

  .view-entidades {
    .views-exposed-form {
      margin: 40px;
      .form--inline > .form-item {
        margin: 10px;
      }
    }
    .views-field-title {

    }
    .view-content {
      table {
        width: 100%;
        td {
          padding: 10px;
        }
      }
    }
  }
  .view-entidades.view-display-id-page_2 {
    .view-content {
      tr {
        border-bottom: 1px dotted #e0e0e0;
      }
      th {
        width: 200px;
        /* padding: 10px; */
        padding-right: 20px;
        padding-top: 7px;
        padding-bottom: 7px;
      }
      th.views-field-title {
        font-size: 2em;
        text-align: center;
        border-bottom: 1px solid;
      }
    }
  }

  .view-preguntas-frecuentes {
    .field--name-node-title {
      h2 {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .path-frontpage {
    .region-header {
      h1 {
          margin-top: 50px;
          margin-bottom: 50px;
      }
    }
  }

  #equipo {
    .col-md-3 .inner {
        border: 1px solid #91b521;
        background: #225c25;  
        padding: 1em;
        kit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        h3 {
            color: #FFF;
            text-shadow: 1px 1px 1px #225c25;
        }
        p {
            color: #FFF;
        }
        img {
            kit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            height: auto;
            margin-bottom: 15px;
            max-width: 138px;
            border: 1px solid #FFF;
            transform: scale(0.9);
            transition: all 0.4s cubic-bezier(0.805, 0.075, 0.315, 1.41) 0s;
        }
    }
  }

.colaboradores {
  h2.light-section-heading {
    color: #225c25;
    font-family: Futura, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 10px;
    font-size: 29px;
    text-align: center;
    border: none !important;
        margin-top: 65px;
    margin-bottom: 50px;
    &:after {
        background-color: #91b521;
        content: "";
        position: absolute;
        /* bottom: 0; */
        width: 66px;
        height: 3px;
        left: 50%;
        margin-left: -33px;
        margin-top: 50px;
    }
  }
}

.addtoany_list {
      margin-top: 30px;
    margin-bottom: 25px;
    display: block;
}

#block-headerhome {
  .field--name-body {
    img {
      width: 100%;
    }
  }
}

.video-container {
text-align: center;
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}


.popover {
  max-width: 768px;
}



  @media (max-width: 420px) {
    h1 {
      font-size: 25px;
    }

.popover {
  max-width: 400px;
}

    
    footer {
      li {
        a {
            margin: 0 auto;
            width: 100%;
        }
      }
    }

    .footer {
      .block-simplenews {
          text-align: center;
      }
    }

    #block-donacionpaypal {
      text-align: center;
      margin: 20px;
    }

  .view-entidades.view-display-id-page_2 {
    .view-content {
        th{
          width: auto;
              padding: 0;
        }
        th.views-field-title {
          font-size: 1em;
        }
      }
    }

    .navbar {
      .logo {
        img {
          width: 175px;
        }
      }
    }

    .view-entidades.view-display-id-page_2 {
      .view-content {
            overflow-x: auto;
      }
    }

  }

  @media (max-width: 768px) {
    .ds-2col-fluid > .group-left {
      width: 100%;
    }
    .ds-2col-fluid > .group-right {
      width: 100%;
    }
  }

  @media (max-width: 1200px) and (min-width: 1000px) {
    .navbar-nav {
      li {
        a {
          font-size: 14px;
        }
      }
    }
  }


.node--type-entity.node--view-mode-full {
  .row {
    .col-md-4 {
      padding-top: 20px;
      .field--name-field-nota-global {
        position: absolute;
        margin-top: 20%;
        margin-left: 13%;
        text-align: center;
        .field--item {
            font-size: 1.4em;
            font-weight: bold;
        }
      }
    }
  }
  .field--name-field-calificacion {
    padding: 10px;
    background-color: #1e8ea0;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
  }
  .field--name-field-caracteristicas {
    padding: 5px;
    margin-bottom: 30px;
    .field--label {
      padding: 5px;
      border-bottom: 1px solid #999;
      margin-bottom: 10px;
    }
  }
  .field--name-field-aspectos-positivos {
    padding: 5px;
    margin-bottom: 30px;
    .field--label {
      padding: 5px;
      border-bottom: 1px solid #999;
      margin-bottom: 10px;
    }
  }
  .field--name-field-a {
    padding: 5px;
    margin-bottom: 30px;
    .field--label {
      padding: 5px;
      border-bottom: 1px solid #999;
      margin-bottom: 10px;
    }
  }
}


.info-button {
  text-align: right;
}
